body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

.main-navigation {
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
}

.site-navigation,
.advantages-list,
.offers-list,
.hotel-search-list,
.filter ul {
  list-style: none;
}

.main-navigation .active,
.inner-page .active {
  color: #766357;
}

.main-navigation .active:hover,
.main-navigation .active:active,
.inner-page .active:hover,
.inner-page .active:active {
  color: #766357;
}

.main-navigation a {
  color: #000000;
}



.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}


.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}


.greeting {
    background-color: #f2f2f2;
}
.desc-lead,
.booking p {
  text-align: center;
  line-height: 26px;
  background-color: #ffffff;
  color: #333333;
}

.desc-slogan {
  text-align: center;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}

.left .advantages-text,
.right .advantages-text {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages-title {
  font-size: 21px;
  font-weight: bold;
}

.offers {
  text-align: center;
  background-color: #ffffff;
}

.offers h3 {
  font-size: 21px;
  font-weight: bold;
}

.offers p,
.advantages-item .advantages-slogan,
.advantages-item span {
  color: #333333;
}

.advantages-item {
  background-color: #eeeeee;
  text-align: center;
}

.booking span {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}


.booking-search {
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  border: none;
  color: #ffffff;
}

.btn-booking {
  background-color: #766357;
}

.btn-find {
  background-color: #81b3d2;
}

.btn-find:hover,
.btn-more:hover {
  background-color: #669ec0;
}

.btn-find:active,
.btn-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn-booking:hover,
.to-book:hover {
  background-color: #604e43;
}

.btn-booking:active,
.to-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search {
  font-weight: bold;
  line-height: 26px;
}

input[value] {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
}

.booking input[type="text"] {
  background-color: #f2f2f2;
  border: none;
}

.booking input[type="text"]:hover {
  background-color: #ebebeb;
}

.booking input[type="text"]:focus {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #e5e5e5;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer>span {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social ul {
  list-style: none;
}

.link span {
  line-height: 26px;
}

.housing-list {
  list-style: none;
}

.list-item h3,
.sorting-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.housing-info a {
  color: #000000;
}

.housing-info a:hover {
    color: #81b3d2;
}

.housing-info a:active {
    color: rgba(0, 0, 0, 0.3);
}

.housing-description {
  color: #333333;
}

.btn {
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.btn-more {
  background-color: #81b3d2;
}

.to-book {

  border: none;
  background-color: #766357;
}

.rating {
  color: #666666;
  background-color: #f2f2f2;
}

.map {
    background-color: #f2f2f2;
}


.filter {
  background-color: #e1e1e1;
}
.filter label{
  color: #ffffff;
}


legend {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.btn-filter {
  border: 2px solid #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.btn-filter:hover {
  background-color: #ffffff;
  color: #000000;
}

.sorting-title,
.sorting a  {
  font-size: 12px;
  line-height: 18px;
}

.sorting-by-type,
.sorting-by-rating {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-by-type:hover,
.sorting-by-rating:hover {
  color: #81b3d2;
}

.sorting-by-type:active,
.sorting-by-rating:active {
  color: #000000;
  border: none;
}

.sorting-by-price {
  color: #81b3d2;
}
