body {
  margin: 0;
  min-width: 800px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2)
}

.main-header {
    position: relative;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    margin-left: -70px;
}

.main-navigation {
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
}

.site-navigation,
.advantages-list,
.offers-list,
.hotel-search-list,
.filter ul {
  list-style: none;
}

.site-navigation {
  display: flex;
  padding: 0;
  margin:0;
}

.site-navigation li {
    width: 20%;
    text-align: center;
}

.site-navigation li:nth-of-type(4n+2) {
    margin-right: 240px;
}


.main-navigation .active,
.inner-page .active {
  color: #766357;
}

.main-navigation .active:hover,
.main-navigation .active:active,
.inner-page .active:hover,
.inner-page .active:active {
  color: #766357;
}

.main-navigation a {
  color: #000000;
}



.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}


.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}




.greeting {
    display: flex;
    height: 510px;
    margin: auto;
    background-color: #f2f2f2;
    background-image: url("../img/polygon.svg"),
                      url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center bottom, 0 -56px;
    background-size: cover;
}

.greeting-title {
   width: 459px;
   height: 353px;
   margin:auto;
}

.desc {
  background-color: #ffffff;
}

.desc-lead,
.booking p {
  text-align: center;
  line-height: 26px;
  color: #333333;
}

.desc-slogan {
  text-align: center;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}

.advantages {
    background-color: #ffffff;
}


.left .advantages-text,
.right .advantages-text {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages-title {
  font-size: 21px;
  font-weight: bold;
}

.offers {
  text-align: center;
  background-color: #ffffff;
}

.offers h3 {
  font-size: 21px;
  font-weight: bold;
}

.offers p,
.advantages-item .advantages-slogan,
.advantages-item span {
  color: #333333;
}

.advantages-item {
  width:400px;
  background-color: #eeeeee;
  text-align: center;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.right .advantages-text{
    order: 1;
}



.advantages-photo img {
    display: block;
}

.left {
    order: -2;
}
.offers {
    order: -1;
}

.advantages-top {
    display: flex;
}

.offers-list {
    display: flex;
    margin: 0;
    padding: 0;
}


.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;

}

.booking span {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}


.booking-search {
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  border: none;
  color: #ffffff;
}

.btn-booking {
  background-color: #766357;
}

.btn-find {
  background-color: #81b3d2;
}

.btn-find:hover,
.btn-more:hover {
  background-color: #669ec0;
}

.btn-find:active,
.btn-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn-booking:hover,
.to-book:hover {
  background-color: #604e43;
}

.btn-booking:active,
.to-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search {
  font-weight: bold;
  line-height: 26px;
}

input[value] {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
}

.booking input[type="text"] {
  background-color: #f2f2f2;
  border: none;
}

.booking input[type="text"]:hover {
  background-color: #ebebeb;
}

.booking input[type="text"]:focus {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #e5e5e5;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer>span {
  width: 240px;
  margin-left: 70px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social ul {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  width: 240px;
  margin-right: 70px;
}

.link span {
  line-height: 26px;
}

.housing {
  background-color: #ffffff;
}

.housing-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.detail-hotel-search,
.sorting,
.housing-list {
  padding-left: 70px;
  padding-right: 70px;
}

.list-item {
  display: flex;
}

.housing-photo {
  margin-right: 30px;
}

.housing-rating {
  margin-left: auto;
}

.sorting {
  display: flex;
  align-items: center;

}
.list-item h3,
.sorting-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.housing-info a {
  color: #000000;
}

.housing-info a:hover {
    color: #81b3d2;
}

.housing-info a:active {
    color: rgba(0, 0, 0, 0.3);
}

.housing-description {
  color: #333333;
}

.btn {
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.btn-more {
  background-color: #81b3d2;
}

.to-book {

  border: none;
  background-color: #766357;
}

.rating {
  color: #666666;
  background-color: #f2f2f2;
}

.map {
    background-color: #f2f2f2;
}


.filter {
  background-color: #e1e1e1;
}
.filter label{
  color: #ffffff;
}


legend {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.btn-filter {
  border: 2px solid #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.btn-filter:hover {
  background-color: #ffffff;
  color: #000000;
}

.sorting-title,
.sorting a  {
  font-size: 12px;
  line-height: 18px;
}

.sorting-by-type,
.sorting-by-rating {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-by-type:hover,
.sorting-by-rating:hover {
  color: #81b3d2;
}

.sorting-by-type:active,
.sorting-by-rating:active {
  color: #000000;
  border: none;
}

.sorting-by-price {
  color: #81b3d2;
}
