body {
  margin: 0;
  min-width: 800px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: -1px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  z-index: 2;
}

.main-navigation {
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
}

.site-navigation,
.advantages-list,
.offers-list,
.hotel-search-list,
.filter ul,
.sorting-list {
  list-style: none;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin:0;
  padding:0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 72px;
  margin: 0;
}

.site-navigation li {
  width: 22.72727272727273%;
  padding: 14px 0 16px 0;
}

.site-item-left {
  text-align: left;
}

.site-item-right {
  text-align: right;
}

.site-navigation li:nth-of-type(4n+3) {
  margin-left: 96px;
  text-align: right;
}

.site-navigation li:nth-of-type(4n) {
  text-align: right;
}

.main-navigation .active,
.inner-page .active {
  color: #766357;
}

.main-navigation .active:hover,
.main-navigation .active:active,
.inner-page .active:hover,
.inner-page .active:active {
  color: #766357;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.greeting {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 508px;
  margin: auto;
  background-color: #f2f2f2;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: 0 -56px;
}

.greeting::after {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}

.greeting::after {
  content: "";
  bottom: 0.5px;
  height: 57px;
  background-image: url("../img/polygon.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 1200px 57px;
  z-index: 10;
}

.greeting-title {
  width: 459px;
  height: 353px;
  margin: auto;
}

.desc {
  background-color: #ffffff;
  padding-top: 59.5px;
  padding-bottom: 50px;
}

.desc-slogan,
.desc-lead {
  margin: 0;
}

.desc-lead {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  line-height: 26px;
  color: #333333;
}

.desc-slogan {
  width: 444px;
  text-align: center;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 28px;
}

.advantages {
  background-color: #ffffff;
}

.left .advantages-text,
.right .advantages-text {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages-title {
  word-break: break-word;
  width: 160px;
  margin: 0 auto;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 24px;
}

.advantages-number {
  display: block;
  margin-bottom: 21px;
}

.offers {
  text-align: center;
  background-color: #ffffff;
}

.offers h3 {
  font-size: 21px;
  font-weight: bold;
}

.offers p,
.advantages-item .advantages-slogan,
.advantages-item span {
  color: #333333;
}

.advantages-item .advantages-slogan {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-text {
  padding-top: 47px;
  padding-bottom: 59px;
}

.advantages-slogan {
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 33.3333333%;
  background-color: #eeeeee;
  text-align: center;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.right .advantages-text {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.advantages-top .advantages-text {
  width: 400px;
}

.advantages-photo img {
  display: block;
}

.left {
  -webkit-box-ordinal-group: -1;
  -ms-flex-order: -2;
  order: -2;
}

.offers {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  order: -1;
}

.advantages-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-photo {
  width: 66.66666667%;
}

.offers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.booking {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  padding-top: 50.5px;
  text-align: center;
}

.booking span {
  width: 400px;
  margin: 0 auto;
  display: block;
  margin-bottom: 23.5px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.booking p {
  width: 440px;
  margin: 0 auto;
  margin-bottom: 47px;
  text-align: center;
  line-height: 24px;
  color: #333333;
}

.booking-search {
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  border: none;
  color: #ffffff;
}

.btn-booking {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 568px;
  background-color: #766357;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 10;
}

.btn-find {
  background-color: #81b3d2;
  width: 100%;
  height: 58px;
  padding: 0;
}

.btn-find:hover,
.btn-more:hover {
  background-color: #669ec0;
}

.btn-find:active,
.btn-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn-booking:hover,
.to-book:hover {
  background-color: #604e43;
}

.btn-booking:active,
.to-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search {
  font-weight: bold;
  line-height: 26px;
}

.wrapper-hotel-search-item input[value] {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
}

.booking input[type="text"] {
  background-color: #f2f2f2;
  border: none;
}

.booking input[type="text"]:hover {
  background-color: #ebebeb;
}

.booking input[type="text"]:focus {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
  box-shadow: inset 0 0 0 2px #e5e5e5;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 36px 72px;
}

.position-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.main-footer>span {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 180px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-left: 60px;
  padding-top: 10px;
}

.footer-social {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social li:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)) {
  margin-top: 5px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 241px;
}

.website {
  display: block;
  width: 115px;
  height: 41px;
}

.website path,
.website rect {
  fill: #000000;
}

.website:hover path,
.website:hover rect {
  fill: #81b3d2;
}

.website:active path,
.website:active rect {
  fill: #bdbbbc;
}

.link span {
  line-height: 26px;
  margin-right: 8px;
  margin-left: 16px;
  padding-bottom: 3px;
}

.housing {
  background-color: #ffffff;
}

.housing-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.detail-hotel-search,
.sorting {
  padding-left: 72px;
  padding-right: 72px;
}

.detail-hotel-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 27px;
  padding-right: 26px;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.housing-photo {
  margin-right: 30px;
}

.housing-rating {
  margin-left: auto;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 29.5px;
  padding-bottom: 30.5px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-title {
  width: 75px;
  word-break: break-word;
  margin: 0;
  margin-right: 40px;
  padding-top: 4px;
}

.sorting-text {
  width: 117px;
  word-break: break-word;
  margin: 0;
  margin-right: 48px;
}

.list-item h3,
.sorting-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.housing-info a {
  color: #000000;
}

.housing-info a:hover {
  color: #81b3d2;
}

.housing-info a:active {
  color: rgba(0, 0, 0, 0.3);
}

.housing-description {
  color: #333333;
}

.btn {
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 4px 17px;
  padding-bottom: 5px;
}

.to-book {
  line-height: 18.4px;
}

.btn-more {
  background-color: #81b3d2;
  margin-right: 2px;
}

.to-book {
  border: none;
  background-color: #766357;
}

.rating {
  display: block;
  width: 110px;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  padding: 3px 0;
}

.map {
  position: relative;
  background-color: #f2f2f2;
  min-height: 593px;
}

.map img {
  top:0;
  display: block;
  position: absolute;
  z-index: 1;
}

.filter {
  min-height: 217px;
  background-color: #7496bb;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center -57px;
}

.filter label {
  color: #ffffff;
}

.detail-hotel-search legend {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.sorting-title,
.sorting a {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list li {
  width: 76px;
  margin-right: 5px;
  padding-top: 4px;
}

.sorting-list li:last-of-type {
  margin-right: 0;
}

.sorting-by-type,
.sorting-by-rating {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-by-type {
  width: 49px;
  word-break: break-word;
}
.sorting-by-rating {
  width: 76px;
  word-break: break-word;
}

.sorting-by-type:hover,
.sorting-by-rating:hover {
  color: #81b3d2;
}

.sorting-by-type:active,
.sorting-by-rating:active {
  color: #000000;
  border-bottom: 1px dotted transparent;
}

.sorting-by-price {
  width: 49px;
  word-break: break-word;
  color: #81b3d2;
}

.offers-item {
  position: relative;
  padding-top: 161px;
  padding-bottom: 81.5px;
  width: 400px;
}

.offers-item p,
.offers-item h3 {
  margin: 0;
  padding: 0;
}

.offers-item h3 {
  word-break: break-word;
  width: 240px;
  margin: 0 auto;
  margin-bottom: 24.5px;
}

.offers-item p {
  width: 300px;
  margin: 0 auto;
}

.house::before {
  content: "";
  width: 75px;
  height: 72px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -38.5px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.food::before {
  content: "";
  width: 74px;
  height: 70px;
  position: absolute;
  top: 61px;
  left: 50%;
  margin-left: -37px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.souvenirs::before {
  content: "";
  width: 64px;
  height: 76px;
  position: absolute;
  top: 56px;
  left: 50%;
  margin-left: -32px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.hotel-search-list {
  min-height: 173px;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.hotel-search-wrapper {
  position: absolute;
  left: 50%;
  margin-left: -284px;
  width: 568px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 55px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  z-index: 3;
}

.hotel-search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 458px;
  margin-bottom: 29px;
}

.hotel-search-item input[name="arrival-date"],
.hotel-search-item input[name="departure-date"] {
  padding: 0;
  padding-left: 13px;
  padding-right: 20px;
  width: 100%;
  height: 38px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.calendar path,
.calendar rect {
  fill: #cacaca;
}

.calendar:hover path,
.calendar:hover rect,
.calendar:focus path,
.calendar:focus rect {
  fill: #000000;
}

.calendar:active path,
.calendar:active rect {
  fill: #81b3d2;
}

.hotel-search-item:nth-of-type(3) {
  width: 226px;
  float: left;
}

.hotel-search-item:nth-of-type(4) {
  float: right;
  width: 226px;
}

.hotel-search-item:nth-of-type(4) label {
  margin-left: 47px;
}

.hotel-search-item input[name="adults"],
.hotel-search-item input[name="kids"] {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  width: 38px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.minus-control {
  left: 112px;
  top: 0;
  width: 38px;
  height: 38px;
  border: none;
  padding: 0;
  background-color: #f2f2f2;
}

.minus-control svg {
  margin-bottom: 2px;
}

.plus-control {
  right: 0;
  top: 0;
  width: 38px;
  height: 38px;
  border: none;
  padding: 0;
  background-color: #f2f2f2;
}

.plus-control svg {
  margin-top: 3px;
}

.control-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 114px;
}

.calendar {
  position: absolute;
  background-color: transparent;
  padding: 0;
  right: 0px;
  top: 0px;
  width: 39px;
  height: 38px;
  border: none;
}

.minus-control:hover rect,
.plus-control:hover rect,
.minus-control:focus rect,
.plus-control:focus rect {
  fill: #000000;
}

.minus-control:active rect,
.plus-control:active rect {
  fill: #81b3d2;
}

.infrastructure,
.housing-type {
  width: 240px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

.infrastructure legend,
.housing-type legend {
  margin-bottom: 24px;
}

.price legend {
  margin-bottom: 11px;
}

.price {
  width: 328px;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 245px;
}

.infrastructure-list,
.housing-type-list {
  margin: 0;
  padding: 0;
}

.sorting-icon-dir {
  margin-left: auto;
  padding-top: 3px;
}

.icon-up-dir {
  margin-right: 9px;
}

.icon-up-dir polygon {
  fill: #cacaca;
}

.icon-up-dir:hover polygon,
.icon-up-dir:focus polygon {
  fill: #000000;
}

.icon-up-dir:active polygon {
  fill: #81b3d2;
}

.icon-down-dir polyline {
  fill: #81b3d2;
}

.list-item {
  padding: 24px 72px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 24px;
}

.list-item h3 {
  width: 300px;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
}

.housing-photo {
  padding-top: 6px;
}

.housing-description {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  width: 300px;
}

.list-item:nth-of-type(1) .type {
  margin-right: 35px;
  word-break: break-word;
}

.list-item:nth-of-type(2) .type {
  margin-right: 61px;
}

.list-item:nth-of-type(3) .type {
  margin-right: 17px;
}

.housing-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 5px;
  margin-bottom: 47px;
  margin-left: auto;
}

.housing-star span {
  width: 18px;
  height: 17px;
  overflow: hidden;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 18px 17px;
  margin-right: 6px;
}

.housing-star span:last-of-type {
  margin-right: 0;
}

.infrastructure-item,
.housing-type-item {
  margin-bottom: 25px;
  padding-left: 39px;
}

.housing-type-item {
  padding-left: 42px;
}

.infrastructure-item label,
.housing-type-item label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.detail-hotel-search label {
  width: 100px;
}

.housing-type-item input:hover + label,
.housing-type-item input:focus + label,
.infrastructure-item input:hover + label,
.infrastructure-item input:focus + label {
  color: #d6d6d6;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.housing-type {
  margin-left: 14px;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  top: 0px;
  left: -40px;
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range {
  width: 318px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 31px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 82px;
  padding-left: 64px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  height: 30px;
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  margin-left: -1px;
  top: -10px;
  border: 9px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.btn-filter {
  display: block;
  margin-left: 85px;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-filter:hover {
  color: #000000;
  background-color: #ffffff;
}

.wrapper-hotel-search-item {
  width: 346px;
}


.map iframe {
  display: block;
  position:relative;
  width: 100%;
  z-index: 2;
  height:593px;
  border:0;
}

.modal-hide {
  -webkit-animation: modal-hide 0.7s forwards;
          animation: modal-hide 0.7s forwards;
}
.modal-show {
  -webkit-animation: modal-show 0.7s forwards;
          animation: modal-show 0.7s forwards;
}

@-webkit-keyframes modal-show  {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes modal-show {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes modal-hide {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@keyframes modal-hide {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

.wrapper-search {
  position: relative;
  overflow: hidden;
}

.filter-input-checkbox:disabled + label::before {
  cursor: default;
  background-image: url(../img/checkbox-offd.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label,
.filter-input-checkbox:disabled:checked + label {
    cursor: default;
    color: #6a6a6a;
}

.filter-input-checkbox:disabled + label:hover,
.filter-input-checkbox:disabled:checked + label {
    color: #6a6a6a;
}

.filter-input-checkbox:disabled:checked + label::before {
    cursor: default;
    background-image: url(../img/checkbox-ond.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
